.navbarContainer {
  width: 100%;
  height: 60px;
  background: linear-gradient(
    to right,

    var(--bg-2),
    #0087e0,
    var(--bg-2)
  );
  transition: width 0.3s ease, height 0.5s ease;
  position: relative;
}

.principalContainer {
  width: 100%;
  height: 50px;
  position: relative;
  background: linear-gradient(to right, #111, var(--shadow), #111);
}

.container {
  width: 100%;
  height: 70px;
  background: linear-gradient(
    to right,

    var(--bg-2),
    #0087e0,
    var(--bg-2)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  transition: width 0.3s ease, height 0.5s ease;
}

.buttonMenu {
  width: 45px;
  height: 75%;
  position: absolute;
  right: 150px;
  border-radius: 5px;
  border: none;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  display: none;
  top: 8px;
  padding: 5px;
}

.buttonMenu:hover {
  background: var(--bg);
  box-shadow: 0 0 10px var(--shadow);
}

.linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.linksContainer li {
  list-style: none;
}

.links {
  text-decoration: none;
  font-size: 20px;
  color: var(--text);
  padding: 3px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.8s ease;
}

.links:hover {
  border-bottom: 2px solid var(--text);
}

.active {
  background: linear-gradient(#a3baed, #c8d5f5);
}

.fixed {
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;
  background: linear-gradient(
    to right,
    transparent,
    var(--bg-4),
    #3b65ce,
    var(--bg-4),
    transparent
  );
  box-shadow: none;
  transition: all 0.8s ease;
  margin-top: 2px;
  border-radius: 5px;
  z-index: 999;
}

.fixed .links {
  font-size: 21px;
  text-shadow: 0 0 10px var(--shadow);
  transition: all 0.8s ease;
}

.extraSpace {
  height: 70px;
}

.hideMenu {
  display: none;
}

@media (max-width: 1366px) {
  .buttonMenu {
    display: inline-block;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
  }

  .container {
    width: 600px;
    height: 400px;
    position: relative;
    top: 100%;
    transform: none;
    display: grid;
    place-content: center;
    background: linear-gradient(var(--bg-2), var(--shadow));
    box-shadow: 0 0 10px var(--shadow);
    left: 50%;
    transform: translateX(-50%);
  }

  .linksContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    margin-bottom: 30px;
  }

  .linksContainer li {
    width: 100%;
    padding: 13px;
    text-align: center;
  }

  .links {
    width: 100%;
    height: 50px;
    background: var(--gray);
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--shadow);
    box-shadow: inset 0 0px 10px var(--shadow);
    position: absolute;
    left: 0;
  }

  .links:hover {
    background: linear-gradient(
      to right,
      transparent,
      var(--gray),
      transparent
    );
    box-shadow: none;
    border-bottom: none;
  }
}
