.container {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background: linear-gradient(
    to right,
    transparent,
    var(--bg-2),
    var(--bg-4),
    var(--bg-2),
    transparent
  );
  margin: 0 auto;
}

.container h2 {
  font-size: 35px;
  margin-bottom: 5px;
  color: var(--text);
  text-shadow: 0 0 5px var(--shadow);
}

.content {
  width: 100%;
  display: flex;
  padding: 30px;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.skillsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillsContainer img {
  width: 75px;
  animation: animation 3s ease-out infinite;
  filter: drop-shadow(0 0 10px #fff);
}

.hr {
  width: 40%;
  height: 3px;
  border: none;
  background: linear-gradient(
    90deg,
    transparent,
    var(--shadow) 50%,
    transparent
  );
  margin: 0 auto;
}

@keyframes animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px) scale(1.05);
  }
  0% {
    transform: translateY(0);
  }
}

@media (max-width: 1366px) {
  .container h2 {
    font-size: 30px;
  }

  .skillsContainer img {
    width: 65px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1000px;
  }

  .container h2 {
    font-size: 25px;
  }

  .skillsContainer img {
    width: 60px;
  }
}

@media (max-width: 1024px) {
  .content {
    gap: 45px;
  }

  .container {
    width: 100%;
  }

  .skillsContainer img {
    width: 50px;
  }
}

@media (max-width: 768px) {
  .content {
    gap: 35px;
  }

  .container {
    width: 100%;
  }

  .skillsContainer img {
    width: 40px;
  }
}

@media (max-width: 640px) {
  .content {
    width: 200px;
    display: grid;
    place-content: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 70px 70px 70px;
    gap: 10px;
  }

  .skillsContainer img {
    width: 50px;
  }
}
